<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>icepay</name>
	<displayName><![CDATA[ICEPAY integration]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Handle your payments ICEPAY payments with this module]]></description>
	<author><![CDATA[Channel-support]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
